version: "3.3"
services:
  blablamove-db:
    container_name: blablamove_db
    image: lucasmatteo/db_order_soa
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_ROOT_HOST=%
      - MYSQL_DATABASE=blablamove
      - MYSQL_USER=user
      - MYSQL_PASSWORD=user

  blablamove:
    container_name: blablamove_service
    image: hsy20000118/blablamove
    depends_on:
      - rabbitmq
      - blablamove-db
    ports:
      - "8080:8080"
    environment:
      - mailer=extern_mailer
      - dbName=blablamove-db
      - qName=rabbitmq

  rabbitmq:
    container_name: blablamove_messagequeue
    image: rabbitmq:3.7
    ports:
      - "5672:5672"

  comparator:
    container_name: blablamove_comparator
    image: hsy20000118/blablamove-comparator
    depends_on:
      - rabbitmq
      - comparator_db
    ports:
      - "7080:7080"
    environment:
      - blablamove_queue=rabbitmq
      - mongo_host=comparator_db

  comparator_db:
    container_name: blablamove_comparator_db
    image: mongo
    ports:
      - "27017:27017"

  extern_mailer:
    container_name: blablamove_mailer
    image: hsy20000118/blablamove-mailer
    ports:
      - "9091:9091"

  client:
    container_name: blablamove_client
    image: hsy20000118/blablamove-client
    ports:
      - "3000:3000"
