body {
    background-color: lightblue !important;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.container {
    text-align: center
}

.margin-container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.margin-top{
    margin-top: 30px;
}

.form-visibility {
    margin-top: 30px;
}

.background-ul{
    background-color: bisque !important;
}

.button-add {
    height: 100%;
    width: 100%;
}

.newcontract {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.bestcontrats {
    background-color: aquamarine !important;
    display: flex !important;
}

.contractDisplay{
    display: flex !important;
}

.little-width{
    width: 200px !important;
    display: inline-block !important;
}

.content-contract{
    width: 80%
}

.button-souscrire{
    width: 20%
}